<!-- Bootstrap Core CSS -->
<!--<link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css'/>-->
<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css'/>
<!--<link href="/stylesheets/tunyun.titlebar.css" rel='stylesheet' type='text/css'/>-->
<!--<link href="/stylesheets/jqcloud.css" rel='stylesheet' type='text/css'/>-->
<!--<link href="/javascripts/libs/unslider-master/dist/css/unslider.css" rel='stylesheet' type='text/css'/>-->
<!--<link href="/javascripts/libs/unslider-master/dist/css/unslider-dots.css" rel='stylesheet' type='text/css'/>-->
<!-- Graph CSS -->
<!--<link href="/stylesheets/lines.css" rel='stylesheet' type='text/css'/>-->
<!--<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">-->
<!-- jQuery -->
<!--<script src="/javascripts/libs/jquery.min.js"></script>-->
<!--<script src="/javascripts/libs/unslider-master/dist/js/unslider-min.js"></script>-->
<!----webfonts--->
<!--<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>-->
<!---//webfonts--->
<!-- Nav CSS -->
<!--<link href="/stylesheets/custom.css" rel="stylesheet">-->
<!-- Metis Menu Plugin JavaScript -->
<!--<script src="/javascripts/libs/metisMenu.min.js"></script>-->

<!-- Graph JavaScript -->
<!--<script src="/javascripts/libs/d3.v3.js"></script>-->
<!--<script src="/javascripts/libs/rickshaw.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<!--<script src="/javascripts/libs/bootstrap.min.js"></script>-->
<!--<script src="/javascripts/libs/angular/angular.min.js"></script>-->
<!--<script src="/javascripts/libs/angular/angular-animate.min.js"></script>-->
<!--<script src="/javascripts/libs/angular/angular-resource.min.js"></script>-->
<!--<script src="/javascripts/libs/angular/angular-route.min.js"></script>-->
<!--<script src="/javascripts/libs/Chart.js"></script>-->

<!--<script src="/javascripts/app.js"></script>-->
<!--<script src="/javascripts/controllers.js"></script>-->
<!--<script src="/javascripts/services.js"></script>-->

<!--<script src="/javascripts/controllers/indexController.js"></script>-->
<!--<script src="/javascripts/controllers/competanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/customanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/exclusivecustomController.js"></script>-->
<!--<script src="/javascripts/controllers/induanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/indufrontController.js"></script>-->
<!--<script src="/javascripts/controllers/inventanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/newprodController.js"></script>-->
<!--<script src="/javascripts/controllers/onlineERPController.js"></script>-->
<!--<script src="/javascripts/controllers/prodanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/salesanalysisController.js"></script>-->
<!--<script src="/javascripts/controllers/smartmarketingController.js"></script>-->
<!--<script src="/javascripts/controllers/tradanalysisController.js"></script>-->

<!--<script src="/javascripts/services/menuService.js"></script>-->
<!--<script src="/javascripts/services/industryService.js"></script>-->
<!--<script src="/javascripts/services/homeService.js"></script>-->