<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css'/>

</head>
<body>
<div id="login">
    <div class="login-logo">
        <!--<a href="#"><img src="images/logo.png" alt=""/></a>-->
    </div>
    <h2 class="form-heading">login</h2>

    <div class="app-cam">
        <form method="post" action="/users/login">
            <input type="hidden" id="hash" name="hash" value="">
            <input type="text" class="text" name="user" value="" placeholder="E-mail address" required>
            <input type="password" value="" name="passwd" placeholder="Password" required>

            <div class="submit"><input type="submit" value="Login"></div>
            <!--<div class="login-social-link">-->
            <!--<a href="#" class="facebook">-->
            <!--Facebook-->
            <!--</a>-->
            <!--<a href="#" class="twitter">-->
            <!--Twitter-->
            <!--</a>-->
            <!--</div>-->
            <ul class="new">
                <li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
                <li class="new_right"><p class="sign">New here ?<a href="/register"> Sign Up</a></p></li>
                <div class="clearfix"></div>
            </ul>
        </form>
    </div>
    <div class="copy_layout login">
        <p>Copyright &copy; 2015.Company name All rights reserved.</p>
    </div>
</div>

<script>
    var hash = window.location.hash;
    document.getElementById("hash").value = window.location.hash;
</script>
</body>
</html>
