({
    appDir: './',
    baseUrl: './javascripts',
    fileExclusionRegExp: /^(r|build)\.(config|js)$/,
    dir: './dist',
	optimizeCss: 'standard'	,
paths: {
'jquery': '../bower_components/jquery/dist/jquery.min',
'angular': '../bower_components/angular/angular.min',
'angularAMD': '../bower_components/angularAMD/angularAMD.min',
'ngload': '../bower_components/angularAMD/ngload',
'angular-locale_zh-cn': '../bower_components/angular-i18n/angular-locale_zh-cn',
'angular-route': '../bower_components/angular-route/angular-route.min',
'angular-resource': '../bower_components/angular-resource/angular-resource.min',
'ui-bootstrap': '../bower_components/angular-bootstrap/ui-bootstrap.min',
'ui-bootstrap-tpls': '../bower_components/angular-bootstrap/ui-bootstrap-tpls.min',
'angular-animate': '../bower_components/angular-animate/angular-animate.min',
'angular-touch': '../bower_components/angular-touch/angular-touch.min',
'angular-sanitize': '../bower_components/angular-sanitize/angular-sanitize.min',
'angular-translate': '../bower_components/angular-translate/angular-translate.min',
'angular-ui-router': '../bower_components/angular-ui-router/release/angular-ui-router.min',
'bootstrap': '../bower_components/bootstrap/dist/js/bootstrap.min',
'metisMenu': '../bower_components/metisMenu/dist/metisMenu.min'
},
shim: {
"angular": {
exports: "angular"
},
"angularAMD": {
deps: ['angular']
},
"ngload": ["angularAMD"],
"angular-locale_zh-cn":{
deps: ['angular']
},
"angular-ui-router":{
deps: ['angular']
},
"angular-route": {
deps: ['angular']
},
"angular-resource": {
deps: ['angular']
},
"angular-touch": {
deps: ['angular']
},
"angular-sanitize": {
deps: ['angular']
},
"ui-bootstrap-tpls": {
deps: ['bootstrap','angular', 'angular-animate','angular-locale_zh-cn']
},
"angular-animate": {
deps: ['angular']
},
'bootstrap': {
deps: ['jquery']
},
"metisMenu": {
deps: ['jquery']
}
},
map: {
'*': {
'css': '../bower_components/require-css/css.min',
'text': '../bower_components/text/text',
'domReady': '../bower_components/domReady/domReady'
}
}
})