
<div class="navbar navbar-default" style="margin-bottom: 15px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding: 0px;">
                <img alt="Brand" src="/images/u822.png">
            </a>
        </div>
        <form class="navbar-form" role="form" style="text-align: right;">
            <div class="form-group">
                <div class="input-group">
                <input type="text" style="width: 100px;" class="form-control" uib-datepicker-popup ng-model="startTime" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" clear-text="清空" current-text="今天"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" style="">
                    <!-- /btn-group -->
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span ng-bind="currentCat.cat_name||'选择品类'"></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" style="margin-bottom: 100px;">
                            <li ng-repeat="x in categs">
                                <a href="javascript:void(0)" ng-click="categChange(x)"
                                   ng-bind="x.cat_name" ng-style="x.style"></a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                            <!--<span ng-bind="currentAttr.pname||'选择属性'"></span> <span class="caret"></span></button>-->
                        <!--<ul class="dropdown-menu" role="menu" style="margin-bottom: 100px;">-->
                            <!--<li ng-repeat="x in attrs" ng-click="attrChange(x)"><a href="" ng-bind="x.pname"></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <span class="input-group-addon" style="cursor: pointer" ng-click="search()">查 询</span>
                </div>
            </div>
        </form>

    </div>
</div>

<div uib-alert ng-repeat="alert in alerts" ng-class="'navbar-fixed-top text-center alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xs-6 col-md-6 column"  style="padding-left: 5px;padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">已审核
                        <label style="font-weight: 500;">
                            <input type="radio" name="type" ng-model="check_result" value="1" ng-checked="true" ng-change="approvedPageNo=1;approvedSearch()">通过
                        </label>
                        <label style="font-weight: 500;">
                            <input type="radio" name="type" ng-model="check_result" value="0" ng-change="approvedPageNo=1;approvedSearch()">未通过
                        </label>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control" placeholder="搜索" ng-model="approvedKeyWord" style="width: 150px;" ng-change="approvedPageNo=1;approvedSearch()">
                            显示：<input type="text" class="form-control" placeholder="数量" ng-model="approvedPageSize" ng-init="" style="width: 60px;" ng-change="approvedPageNo=1;approvedSearch()">
                            <!--共<span ng-bind="attrvalues.approvedAttr.length"></span>条-->
                            <!-- /input-group -->
                            <button type="button" class="btn btn-default btn-font" style="position: absolute;right:15px;top:60px;" ng-click="approvedSelectAll()">全选</button>
                        </form>
                    </div>

                    <div class="row" ng-style="" style="border-top: 1px dashed #31b0d5;"
                         ng-repeat="x in attrvalues.approvedAttr"  ng-init="x.flag=true">
                        <div class="col-lg-1 attr-btn">
                            <button type="button" class="btn btn-default btn-font" ng-bind="$index+1"></button>
                        </div>
                        <div class="col-lg-3 attr-btn" ng-click="x.flag=!x.flag">
                            <button type="button" class="btn btn-primary" ng-bind="x.word"></button>
                        </div>
                        <div class="col-lg-5 attr-btn" ng-style="x.flag?{'height': '42px','overflow-y': 'hidden'}:{}">
                            <button type="button" style="margin-right: 5px;" class="btn btn-info" ng-repeat="xx in x.wordAdjectives" ng-bind="xx.word">
                            </button>
                        </div>
                        <div class="col-lg-2 attr-btn" ng-init="x.attr={'pid':x.wordAdjectives[0].p_id,'pname':x.wordAdjectives[0].pname}">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span ng-bind="x.attr.pname||'选择属性'"></span> <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" style="margin-bottom: 100px;">
                                <li ng-repeat="a in attrs" ng-click="x.attr=a"><a href="" ng-bind="a.pname"></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-1">
                            <div class="check-box large" style="margin: 6px 5px 0px 0px;float: right;"><input type="checkbox" ng-checked="x.selected" ng-click="x.selected=!x.selected;approvedFilter()" id="approved_{{$index}}"/><label
                                        for="approved_{{$index}}"></label></div>
                        </div>
                    </div>
                    <div class="row" style="text-align: right;">
                        <ul style="margin: 8px 5px;" previous-text="&laquo;" next-text="&raquo;" uib-pagination total-items="approvedTotal" ng-model="approvedPageNo" items-per-page="approvedPageSize" max-size="maxSize" class="pagination" boundary-link-numbers="true" rotate="false" ng-change="approvedSearch()"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 column" style="padding-left: 5px;padding-right: 5px;">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">未审核</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <form class="navbar-form navbar-left">
                            <input type="text" class="form-control" placeholder="搜索" ng-model="notApprovedKeyWord" style="width: 150px;" ng-change="notApprovedPageNo=1;notApprovedSearch()">
                            显示：<input type="text" class="form-control" placeholder="数量" ng-model="notApprovedPageSize" style="width: 60px;" ng-change="notApprovedPageNo=1;notApprovedSearch()">
                            <!--共<span ng-bind="attrvalues.notApprovedAttr.length"></span>条-->
                            <div class="btn-group" style="position: absolute;right:75px;top:60px;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span ng-bind="currentAttr.pname||'选择属性'"></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" style="margin-bottom: 100px;">
                                    <li ng-repeat="x in attrs" ng-click="attrChange(x)"><a href="" ng-bind="x.pname"></a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default btn-font" style="position: absolute;right:15px;top:60px;" ng-click="notApprovedSelectAll()">全选</button>
                            <!-- /input-group -->
                        </form>
                    </div>
                    <div class="row" ng-style="" style="border-top: 1px dashed #31b0d5;"
                         ng-repeat="x in attrvalues.notApprovedAttr">
                        <div class="container-fluid" ng-init="x.flag=true" ng-mouseleave="hideDetail(x)">
                            <div class="row">
                                <div class="col-lg-1 attr-btn">
                                    <button name="approved-index-btn" type="button" class="btn btn-default btn-font" ng-bind="$index+1">
                                    </button>
                                </div>
                                <div class="col-lg-3 attr-btn" ng-click="x.flag=!x.flag">
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn dropdown-toggle btn-success" ng-bind="x.word">
                                            <!--<span class="caret" style="margin-left:3px;"></span>-->
                                        </button>
                                        <!--<ul name="hehalf-name-ul" class="dropdown-menu hehalf-name"></ul>-->
                                    </div>
                                </div>
                                <div class="col-lg-5 attr-btn" ng-style="x.flag?{'height': '42px','overflow-y': 'hidden'}:{}">
                                    <button type="button" style="margin-right: 5px;" class="btn btn-warning"
                                            ng-repeat="xx in x.wordAdjectives" ng-mouseenter="showDetail(x,xx)">
                                        <span ng-bind="xx.word"></span>
                                    </button>
                                </div>
                                <div class="col-lg-2 attr-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span ng-bind="x.attr.pname||'选择属性'"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" style="margin-bottom: 100px;">
                                        <li ng-repeat="a in attrs" ng-click="x.attr=a"><a href="" ng-bind="a.pname"></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-1">
                                    <div class="check-box large" style="margin:6px 5px 0px 0px;float: right;"><input ng-model="x.selected"
                                                                                                                       type="checkbox" ng-checked="x.selected" ng-change="checkxx(x)"
                                                                                                                       id="notapproved_{{$index}}"><label
                                                for="notapproved_{{$index}}"></label></div>
                                </div>
                            </div>
                            <div class="attr-detail" ng-show="x.show">
                                <div class="row" style="padding: 0px 10px;">
                                    <h5 style="word-break: break-all;"><small><cite>{{currDetail.comment}}</cite></small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: right;">
                        <ul style="margin: 8px 5px;" previous-text="&laquo;" next-text="&raquo;" uib-pagination total-items="notApprovedTotal" ng-model="notApprovedPageNo" items-per-page="notApprovedPageSize" max-size="maxSize" class="pagination" boundary-link-numbers="true" rotate="false" ng-change="notApprovedSearch()"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-bottom: 100px;">
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row" style="text-align: right;padding-right:10px;">
                <!--<div class="btn-group">-->
            <button type="button" class="btn btn-default navbar-btn"
                    ng-disabled="approvedSelectedArray.length<1 ||isSubmit" ng-click="update(1)">修改
            </button>
            <button type="button" class="btn btn-default navbar-btn"
                    ng-disabled="approvedSelectedArray.length<1||isSubmit" ng-click="del()">删除
            </button>
            <button type="button" class="btn btn-default navbar-btn"
                    ng-disabled="(notApprovedSelectedArray.length<1 && approvedSelectedArray.length<1) ||isSubmit" ng-click="confirm(0)">不通过
            </button>
            <button type="button" class="btn btn-default navbar-btn"
                    ng-disabled="(notApprovedSelectedArray.length<1 && approvedSelectedArray.length<1) ||isSubmit" ng-click="confirm(1)">通过
            </button>
                <!--</div>-->
            </div>
    </div>
</div>